<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Share_content</title>
    <link rel="stylesheet" href="../static/styles/camera.css" />

    <script src="../static/scripts/camera.js"></script>
  </head>
  <body data-user-id="{{ user.id }}">
    <div class="container">
      <video id="video" autoplay ></video>
      <video id="previewVideo" controls></video>

      <div class="btn">
        <button id="start">Start Recording</button>
        <button id="stop">Stop Recording</button>
        <button id="saveButton">Post</button>
	<button id="cancel">Cancel</button>
      </div>
    </div>
  </body>
  
</html>
