body{
	margin: 0;
	padding: 0;
	background: url(../images/Connect.jpg);
	background-size: cover;
	font-family: sans-serif;
}
.loginbox{
	width: 420px;
	height: 1300px;
	background: transparent;
	backdrop-filter: blur(4px) saturate(180%);
	color: #fff;
	top: 110%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 10px;
}
@media (max-width: 900px){
	.loginbox{
		top: 115%;
	}
}
@media (max-width:480px){
	.loginbox{
		width: 420px;
		top: 86%;
	}
}
@media (max-width:420px){
	.loginbox{
		width: 420px;
		top: 90%;
	}
}
@media (max-width:380px){
	.loginbox{
		width: 380px;
		top: 110%;
	}
}
.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
	background: #fb2525;
}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 32px;

}
.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 24px;
}

.loginbox input{
	width: 100%;
	margin-bottom: 40px;
}

.loginbox input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 70px;
	color: white;
	font-size: 26px;
}

.loginbox input[type="submit"]{
	border: none;
	outline: none;
	height: 60px;
	background: #fb2525;
	color: white;
	font-size: 28px;
	border-radius: 20px;
}

.loginbox input[type="submit"]:hover{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.loginbox a{
	text-decoration: none;
	font-size: 22px;
	line-height: 40px;
	color: darkgray;
}
.loginbox a:hover{
	color: #ffc107;
}

.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
	flex: 1;
	

}
.toast-body{
	font-size: 22px;
}
.input-box{
	width: 100%;
	max-width: 500px;
	display: flex;
	align-items: center;
	
}

.input-box input{
	width: 100%;
}

.input-box img{
	width: 35px;
	cursor: pointer;
	padding-bottom: 35px;
}




